body{
    background-color: lightslategray;
    margin: 0;
    color: white;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;    /*用border作为盒子大小根据，保证全部内容都在盒子里*/
    transition: background-color 0.5s ease;
}
header .scrolled{
    background-color: rgba(22,26,33,0.85);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

nav{
    display: inline-flex;
}
nav .moveto{
    color: #c7d5e0;
    padding:0 10px;
    border-radius: 4px;
    cursor: pointer;
    
    transition: background-color 0.3s,color 0.3s;
}
nav .moveto:hover{
    background-color: rgba(255,255,255,0.1);
    color: #ffffff;
}

#banner{
    background-image: url(./../images/ocean_beach_aerial_view_134429_1366x768.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    background-size: cover;
}

.game-icon{
    width: auto;
    height: 130px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes scroll {
    to{
        transform: translateX((calc(-50% - 00.5rem)));
    }
}